*{
    margin: 0;
    padding: 0;
}

#formulario{
    margin: auto;
    width: 100%;
    background-color: rgb(27, 27, 27);
    padding: 20px;
    text-align: center;
}

#formulario input[type="text"]{
    width: 300px;
    padding: 5px;
    border: none;
}

#formulario input[type="submit"]{
    width: 100px;
    padding: 5px;
    background-color: #fff;
    border: none;
}


.divLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 30px;
}

.divLinks > a{
    text-decoration: none;
    padding: 5px;
    color: black;
    
}

.divLinks > a:hover{
    color: crimson;
    transition: 500ms ;
}

.divLinks > p{
    padding: 5px;
}

.divLinks > p:hover{
    cursor: pointer;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-repos{
    font-size: 20px;
    margin: 30px 0 20px 0;
    padding: 5px;
}

.octocat{
    width: 100%;
    text-align: center;
}
.octocat > img{
    height: 300px;
    margin-top: 150px;
}

.invisible{
    display: none;
    transition: 900ms;
}

.octocat404 > img{
    height: 100vh;       
}